
.video-2{
 position: relative;
 width: 100%;
object-fit: cover;
}

.video-txt{
  position: absolute;
  margin-top: -200px;
  margin-left: 100px;
  width: 600px;
 line-height: 40px;
  font-size: 38px;
  font-weight: 600;
  color: #fff;
}
.black{
  width: 100%;
  height: 60px;
  background: #111;
}
.black_link{
  color: #fff;
  width: 300px;
text-align: center;
  margin: 0 auto;
 padding-top: 25px;
}
.grey_link {
  color: #727171;
  width: 700px;
text-align: center;
  margin: 0 auto;
 padding-top: 25px;
}
.grey{
  width: 100%;
  height: 70px;
  background:#E6E3E3;
}
.video-3{
  width: 50%;
  height: 50%;
  object-fit: cover;
  position: relative;
  margin-top: 60px;
  }
.about_txt{
  width: 45%;
  margin-top: 180px;
}
.sec_about{
  margin-bottom: 20px;
  font-size: 34px;
}
.desc_about{
  width: 500px;
  font-size: 18px;
  line-height: 28px;

}

.sport_img img{
  width: 400px;
  height: 350px;
}
.sport .sec_about{
  width: 300px;
  line-height: 50px;
  font-size: 45px;
}
.sport_p{
  width: 300px;
  margin-top: 140px;
}
.sec_sport{
  font-size: 20px;
  line-height: 27px;
}
.sport{
  margin-top: 100px;
}
.sport .sec_deskp{
  line-height: 25px;
  margin-top: 10px;
}

.img_card{
  width: 320px;
  height: 350px;
  margin-top: 20px;
}
.about_cards{
  margin-top: 80px;
}

.learn  {
  text-align: center;
  margin:  0 auto;
  margin-top: 80px;
}
.learn .sek_desk{
width: 520px;
margin: 0 auto;
margin-top: 20px;
line-height: 25px;
margin-bottom: 20px;
}

.btn_about {
  width: 180px;
  height: 50px;
  background: #191919;
  border: solid 1px ;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 20px;
  position: relative;
}

.btn_about:hover{
  color:#727171;
  transition: 0.3s;
}
.icon_about{
  position: absolute;
  background: url(../../img/icons/icon_about.png) no-repeat ;
 width: 50px;
 height: 50px;
  display: block;
  margin: 0px 0px 0px 100px;
  margin-top: -15px;
}
.icon_about:hover{
background: url(../../img/icons/icon_grey.png)
no-repeat;
width: 50px;
height: 50px;
display: block;
margin: 0px 0px 0px 100px;
margin-top: -15px;
background-size: cover;
transform: 0.3s;
}