.btn{
   background: #3a3838;
	border-radius: 5px;
	border: solid 1px #000;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	height: 40px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 180px;
	padding: 10px 0;
	transition: 0.3s;
	position: relative;
	margin-right: 5px;

}
.btn:hover{
	box-shadow: 0px 6px 5px 2px #836A36;
	background: #fff;
	color: #000;
}

/* .icon{
	background:url(../../img/icons/ic-5.svg) no-repeat ;
	color: #fff;
	position: absolute;
}  */
.button{
	margin-left: 10px;
}