.CartList .cartItem {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;

  width: 90%;
  padding: 10px 0;
  border-bottom: 1px solid rgb(211, 208, 208);
  background:rgb(49, 48, 48); 
  font-size: 28px;
  height: 100%;
  color: aliceblue;
}
.cartItem img {
  max-width: 250px;
  height: 300px;
  margin-left: 100px;
  border-radius:10%;
  transition: all 100ms linear;
}
.cartItem input {
  width: 40px;
  background:#fff;
  border-radius: 5px;
margin-left: 15px;
}
.cartItem a {
  color: aliceblue;
  text-decoration: none;
  text-align: center;
}
.cartItem:hover img {
  filter: opacity(80%);
}
.cartItem i {
  cursor: pointer;
 
}
.cartItem .inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputs{
  background:#7a7676;
 width: 200px;
 height: 200px;
 border-radius: 50%;
}

.container_cart{
  width: 1300px;

}


.CartCount{
  width: 30px;
  height: 30px;
  background:#fff;
  border-radius: 5px;
}

.CartDElete{
  background:url(../../img/icons/delete2.svg) center no-repeat;
  display: block;
  width: 30px;
 height: 30px;
 background-size: cover;


}

@media (max-width: 880px) {
  .CartList .cartItem {
    font-size: 23px;
  }
  .cartItem i {
    font-size: 28px;
  }
}
@media (max-width: 700px) {
  .CartList .cartItem {
    font-size: 18px;
  }
  .cartItem .inputs {
    flex-direction: column-reverse;
    font-size: 23px;
  }
  .inputs i {
    font-size: 28px;

  }
  .CartList img {
    width: 100px;
  }
}
