.AddToCart button {
  padding: 2px 10px;
  margin-right: 5px;
  background-color:#211e1e;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: inherit;
 }
.AddToCart button:hover {
background: #353535;
}
