.Header{
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
    background:#fff;
    display: flex;
	padding: 10px 0;
	z-index: 100000;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 4);
}
/* .Header_br{
    width: 1424px;
	height: 16px;
	background: #000;
} */
.Head{
	align-items: center;
}
/* .Head{
    margin-top: 100px;
    margin: 0 auto;
    text-align: center;
} */